Prod V2/main/default/flows/Account_Send_to_Odoo_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Account_to_Odoo</name>
        <label>Send Account to Odoo</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <actionName>OdooPartnerPostPatchInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Reset_Flag</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </inputParameters>
        <nameSegment>OdooPartnerPostPatchInvocable</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Current_User</name>
        <label>Current User</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Send_Account_to_Odoo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Administrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>administrator</stringValue>
                </rightValue>
            </conditions>
            <label>Is Administrator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account - Send to Odoo (Example) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Send to Odoo (Example)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Flag</name>
        <label>Reset Flag</label>
        <locationX>770</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Sent_to_Odoo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sent_to_Odoo__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sent_to_Odoo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Current_User</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
