Prod V2/main/default/flows/RevenueForecast_Link_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllOrdersList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Forecast_To_order</name>
        <label>Assign Forecast To order</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Orders.Linked_Revenue_Forecast__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Orders_Found</name>
        <label>Orders Found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Linked_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Orders</targetReference>
            </connector>
            <label>Yes, Found</label>
        </rules>
    </decisions>
    <description>Links existing orders to new revenue forecasts</description>
    <environments>Default</environments>
    <interviewLabel>RevenueForecast Link Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RevenueForecast Link Order</label>
    <loops>
        <name>Loop_Through_Orders</name>
        <label>Loop Through Orders</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Linked_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Forecast_To_order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Linked_Orders</name>
        <label>Get Linked Orders</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Orders_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Orders</name>
        <label>Update Orders</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>AllOrdersList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Linked_Orders</targetReference>
        </connector>
        <object>Revenue_Forecast__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllOrdersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
