Prod V2/main/default/flows/Screen_Flow_Change_Opportunity_Package_Price_Book.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Existing_Order</name>
        <label>Cancel Existing Order</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <actionName>OdooOrderCancel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>of_Get_Opportunity_Products2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>Get_Opportunity.Odoo_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OdooOrderCancel</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>New_Product_Package_Value</name>
        <label>New Product Package Value</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>NewProductPackageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X1_ProductPackagesForBrand.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_Get_Package_Price_Book</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_New_Price_Book_Value</name>
        <label>New Price Book Value</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>NewPriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X2_PriceBookList.firstSelectedRow.Price_Book__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Package_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X3_New_Price_Book_Value</name>
        <label>New Price Book Value</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>NewPriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X3_PriceBookList.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Package_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X4_New_Price_Book_Value</name>
        <label>New Price Book Value</label>
        <locationX>446</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>NewPriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X4_PriceBookList.firstSelectedRow.Price_Book__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Ordoo_Order_Linked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X5_New_Price_Book_Value</name>
        <label>New Price Book Value</label>
        <locationX>710</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>NewPriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>X5_PriceBookList.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Ordoo_Order_Linked</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Opportunity_Package_Found</name>
        <label>Opportunity Package Found?</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Package_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Package</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Package</targetReference>
            </connector>
            <label>Yes, Opportunity Package Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Products_found2</name>
        <label>Opportunity Products found?</label>
        <locationX>710</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_to_sent_to_Odoo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Products_found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>of_Get_Opportunity_Products2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Opportunity_products2</targetReference>
            </connector>
            <label>Yes, Opportunity Products found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ordoo_Order_Linked</name>
        <label>Odoo Order Linked</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>of_Get_Opportunity_Products2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Order Ids</defaultConnectorLabel>
        <rules>
            <name>Order_Id_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Odoo_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Existing_Order</targetReference>
            </connector>
            <label>Order Id Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>if no package is found, the user must add one in this flow. If a package is found, the user can decide to only update the pricelist</description>
        <name>Package_found</name>
        <label>Package found?</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Show_Opportunity_Information_without_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, no package found</defaultConnectorLabel>
        <rules>
            <name>Yes_Package_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Package</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Opportunity_Information_with_Package</targetReference>
            </connector>
            <label>Yes, Package Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Package_Price_Book_Found1</name>
        <label>Package - Price Book Found</label>
        <locationX>578</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>X5_Get_All_Brand_Price_Books</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Package_Price_Book_Found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X4_Get_Package_Price_Book</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_Choose_New_Price_Book</targetReference>
            </connector>
            <label>Yes, Package-Price Book Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the current Price Book matches the new brand?
Was a Price Book update Requested?</description>
        <name>Price_Book_Update_Needed</name>
        <label>Price Book Update Needed?</label>
        <locationX>864</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>X4_Get_Package_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Needed</defaultConnectorLabel>
        <rules>
            <name>No_not_Needed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Price_Book.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Price_Book.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Brand_Interest__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Price_Book</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ordoo_Order_Linked</targetReference>
            </connector>
            <label>No, not Needed</label>
        </rules>
    </decisions>
    <decisions>
        <description>A Package update is needed if the new Brand does not match the Package Brand or if the user indicated the Package needed to be updated</description>
        <name>Product_Package_update_Needed</name>
        <label>Product Package update Needed?</label>
        <locationX>523</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Price_Book_Update_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Package update</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Package_Update_Needed</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Update_Product_Package</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package.Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Brand_Interest__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Product_Package.Brand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Get_Product_Packages_for_brand</targetReference>
            </connector>
            <label>Yes, Product Package Update Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Needed_for</name>
        <label>Update Needed for:</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>No_Change_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Package_Change_Without_Brand_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Product_Package</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>X1_Get_Product_Packages_for_brand</targetReference>
            </connector>
            <label>Package Change without Brand Change</label>
        </rules>
        <rules>
            <name>BrandChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indicate_New_Brand</targetReference>
            </connector>
            <label>Brand Change</label>
        </rules>
        <rules>
            <name>Only_Price_Book_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Price_Book</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Product_Package</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4_Get_Package_Price_Book</targetReference>
            </connector>
            <label>Only Price Book Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_Package_Price_Book_Found</name>
        <label>Package - Price Book Found</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>X3_Get_All_Brand_Price_Books</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Package_Price_Book_Found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>X2_Get_Package_Price_Book</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Choose_New_Price_Book</targetReference>
            </connector>
            <label>Yes, Package-Price Book Found</label>
        </rules>
    </decisions>
    <description>flow to add or update a package and/or price book to an opportunity</description>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Change Opportunity Package / Price Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Change Opportunity Package / Price Book</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Add a new opportunity package to the opportunity</description>
        <name>Create_Opportunity_Package</name>
        <label>Create Opportunity Package</label>
        <locationX>314</locationX>
        <locationY>2378</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package__c</field>
            <value>
                <elementReference>NewProductPackageId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>to be able to update the pricebook and package</description>
        <name>Delete_Existing_Opportunity_products2</name>
        <label>Delete Existing Opportunity products</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Update_Opportunity_to_sent_to_Odoo</targetReference>
        </connector>
        <inputReference>of_Get_Opportunity_Products2</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Get the opportunity from which the flow started</description>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the opportunity package currently linked to this opportunity</description>
        <name>Get_Opportunity_Package</name>
        <label>Get Opportunity Package</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Package</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Pricebook that is now linked to the opportunity</description>
        <name>Get_Opportunity_Price_Book</name>
        <label>Get Opportunity Price Book</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Opportunity Products linked to the opportunity, ready to be deleted</description>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Package_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the package which was originally used on the opportunity</description>
        <name>Get_Product_Package</name>
        <label>Get Product Package</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Package.Package__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Opportunity Products linked to the opportunity, ready to be deleted</description>
        <name>of_Get_Opportunity_Products2</name>
        <label>Get Opportunity Products</label>
        <locationX>710</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Products_found2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X1_Get_Product_Packages_for_brand</name>
        <label>Get Product Packages for brand</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X1_Choose_New_Product_Package</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Brand_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Package-Price books linked to this Package</description>
        <name>X2_Get_Package_Price_Book</name>
        <label>Get Package Price Book</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X2_Package_Price_Book_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>X1_ProductPackagesForBrand.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Brand_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Package_Price_Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X3_Get_All_Brand_Price_Books</name>
        <label>Get All Brand Price Books</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X3_Choose_New_Price_Book</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Brand_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Package-Price books linked to this Package</description>
        <name>X4_Get_Package_Price_Book</name>
        <label>Get Package Price Book</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Package_Price_Book_Found1</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Package.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Brand_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_Book_Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Package_Price_Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>X5_Get_All_Brand_Price_Books</name>
        <label>Get All Brand Price Books</label>
        <locationX>710</locationX>
        <locationY>3062</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X5_Choose_New_Price_Book</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Brand_Interest__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Brand</name>
        <label>Add Brand</label>
        <locationX>523</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Product_Package_update_Needed</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AddBrand2</name>
        <label>Add Brand</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>X1_Get_Product_Packages_for_brand</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Add new package</description>
        <name>Update_Opportunity_Package</name>
        <label>Update Opportunity Package</label>
        <locationX>50</locationX>
        <locationY>2378</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Package.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Package__c</field>
            <value>
                <elementReference>NewProductPackageId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_to_sent_to_Odoo</name>
        <label>Update Opportunity to sent to Odoo</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Update_Done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Odoo_ID__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PDF__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>NewPriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_update__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Indicate_New_Brand</name>
        <label>Indicate New Brand</label>
        <locationX>523</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Brand</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Brand_Interest__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Change_needed</name>
        <label>No Change needed</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoChangeNeeded</name>
            <fieldText>&lt;p&gt;There seems to be no change needed for this opportunity. &lt;/p&gt;&lt;p&gt;Go back to change your choices or click &apos;Finish&apos; to close this flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Show pricelist, package and brand currently used</description>
        <name>Show_Opportunity_Information_with_Package</name>
        <label>Show Opportunity Information with Package</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Update_Needed_for</targetReference>
        </connector>
        <fields>
            <name>IntroText1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You are updating the Product Package and/or Price Book of this Opportunity.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;These are the current values.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PriceBook</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;The current Price Book is: &lt;strong&gt;{!Get_Opportunity.Pricebook2.Name}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Package</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;The current Product Package is: &lt;strong&gt;{!Get_Opportunity_Package.Package__r.Name}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Brand</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;The current Brand Interest is: &lt;strong&gt;{!Get_Opportunity.Brand_Interest__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IndicateNeededchanges</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;What to you want to change on this opportunity?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Update_Price_Book</name>
            <dataType>Boolean</dataType>
            <fieldText>Price Book</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_Product_Package</name>
            <dataType>Boolean</dataType>
            <fieldText>Product Package</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_Brand</name>
            <dataType>Boolean</dataType>
            <fieldText>Brand</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExtraInfo1</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Remark&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: if you choose to update the Product Package, you also  be asked to indicate the Price Book (as it needs to be linked to the package) &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Remark&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;: if you choose to update the Brand, you might also need to update the Price Book and Product Package as they need to be available for the brand.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Show pricelist and brand currently used</description>
        <name>Show_Opportunity_Information_without_Package</name>
        <label>Show Opportunity Information without Package</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>AddBrand2</targetReference>
        </connector>
        <fields>
            <name>IntroText2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You are adding a Product Package to this Opportunity.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before doing this, please check if the Brand for this opportunity is correct.  This Opportunity currently has the following Brand linked: &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Opportunity.Brand_Interest__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_You_want_to_change_the_Brand</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoChoice</defaultSelectedChoiceReference>
            <fieldText>Do You want to change the Brand?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>IndicateBrand</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please choose the correct brand here: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_You_want_to_change_the_Brand</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Opportunity.Brand_Interest__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_You_want_to_change_the_Brand</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Done</name>
        <label>Update Done</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;The change is done!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X1_Choose_New_Product_Package</name>
        <label>Choose New Product Package</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Product_Package_Value</targetReference>
        </connector>
        <fields>
            <name>X1_ChoosePackage</name>
            <fieldText>&lt;p&gt;Please choose a Package from the list below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1_ProductPackagesForBrand</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Package__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>X1_Get_Product_Packages_for_brand</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c54c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Package Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-0d12&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X2_Choose_New_Price_Book</name>
        <label>Choose New Price Book</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X2_New_Price_Book_Value</targetReference>
        </connector>
        <fields>
            <name>X2_ChoosePriceBook</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please choose a Price Book from the list below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X2_PriceBookList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Package_Price_Book__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>X2_Get_Package_Price_Book</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Price_Book_Name__c&quot;,&quot;guid&quot;:&quot;column-6589&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Price Book Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Price_Book_Brand__c&quot;,&quot;guid&quot;:&quot;column-0ea1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Price Book Brand&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X3_Choose_New_Price_Book</name>
        <label>Choose New Price Book</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X3_New_Price_Book_Value</targetReference>
        </connector>
        <fields>
            <name>X3_ChoosePriceBook</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please choose a Price Book from the list below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X3_PriceBookList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pricebook2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>X3_Get_All_Brand_Price_Books</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-52bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Price Book Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-864f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X4_Choose_New_Price_Book</name>
        <label>Choose New Price Book</label>
        <locationX>446</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X4_New_Price_Book_Value</targetReference>
        </connector>
        <fields>
            <name>X4_ChoosePriceBook</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please choose a Price Book from the list below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X4_PriceBookList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Package_Price_Book__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>X4_Get_Package_Price_Book</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Price_Book_Name__c&quot;,&quot;guid&quot;:&quot;column-6589&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Price Book Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Price_Book_Brand__c&quot;,&quot;guid&quot;:&quot;column-0ea1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Price Book Brand&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>X5_Choose_New_Price_Book</name>
        <label>Choose New Price Book</label>
        <locationX>710</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>X5_New_Price_Book_Value</targetReference>
        </connector>
        <fields>
            <name>X5_ChoosePriceBook</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please choose a Price Book from the list below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X5_PriceBookList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pricebook2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>X5_Get_All_Brand_Price_Books</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-52bf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Price Book Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-864f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Brand&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewProductPackageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
