mdapipkg/unpackaged/flows/Account_CreateEdit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_alert_to_Odoo_Changing_email</name>
        <label>Send alert to Odoo - Changing email</label>
        <locationX>204</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Parent_account_added</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>trisha@centpurcent.com </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailChangeToOdooSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailChangetoOdooBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Billing_address_Parent_not_null</name>
        <label>Billing address Parent not null</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Add_VAT_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Billing_Address_not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address</targetReference>
            </connector>
            <label>No Billing Address not null</label>
        </rules>
    </decisions>
    <decisions>
        <description>to alert the Odoo team if the professional email has changed</description>
        <name>Email_Address_Changed_Active_Customer</name>
        <label>Email Address Changed Active Customer</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Parent_account_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Email_has_changed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND NOT(5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Odoo_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_alert_to_Odoo_Changing_email</targetReference>
            </connector>
            <label>Yes, Email has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_account_added</name>
        <label>Parent account added?</label>
        <locationX>336</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_account</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ParentId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_address_Parent_not_null</targetReference>
            </connector>
            <label>Yes Parent account</label>
        </rules>
    </decisions>
    <description>- Update addresses + VAT  from Parent account
- send email to Odoo team when email address is changed by not-Odoo user</description>
    <environments>Default</environments>
    <interviewLabel>Account_CreateEdit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_CreateEdit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_VAT_Number</name>
        <label>Add VAT Number</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>VAT_Number__c</field>
            <value>
                <elementReference>$Record.Parent.VAT_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Add_VAT_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Parent.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Parent.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Parent.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Parent.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Parent.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Address_Changed_Active_Customer</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailChangetoOdooBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;the emailadress of {!$Record.Name} has changed from {!$Record__Prior.Email__c} to {!$Record.Email__c}&lt;/p&gt;&lt;p&gt;Can you make the necessary updates for the customer login?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailChangeToOdooSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Emailaddress change for {!$Record.Name}&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>300</triggerOrder>
</Flow>
