mdapipkg/unpackaged/flows/Opportunity_CreatedEdit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Brand_Interest_in_blank</name>
        <label>Brand Interest in blank</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Oppt_is_Newly_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand_Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Brand_interest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HCS_Added</name>
        <label>HCS Added</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Brand_Interest_in_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_HCS_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Happy_Client_Support__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_HCS_email</targetReference>
            </connector>
            <label>Yes HCS added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppt_is_Newly_Created</name>
        <label>Oppt is Newly Created</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Already Existed</defaultConnectorLabel>
        <rules>
            <name>Newly_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Newly Create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity_CreatedEdit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_CreatedEdit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Oppt_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Brand_interest</name>
        <label>Add Brand interest</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Oppt_is_Newly_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand_Interest__c</field>
            <value>
                <elementReference>$Record.Account.Brand_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_HCS_email</name>
        <label>Add HCS email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Brand_Interest_in_blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Happy_Client_Support__c</field>
            <value>
                <elementReference>$Record.Account.Client_Support__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppt_Address</name>
        <label>Update Oppt Address</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Address__City__s</field>
            <value>
                <elementReference>Get_Account_Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__CountryCode__s</field>
            <value>
                <elementReference>Get_Account_Record.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__PostalCode__s</field>
            <value>
                <elementReference>Get_Account_Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Address__Street__s</field>
            <value>
                <elementReference>Get_Account_Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__City__s</field>
            <value>
                <elementReference>Get_Account_Record.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__CountryCode__s</field>
            <value>
                <elementReference>Get_Account_Record.ShippingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__PostalCode__s</field>
            <value>
                <elementReference>Get_Account_Record.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__Street__s</field>
            <value>
                <elementReference>Get_Account_Record.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HCS_Added</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>60</triggerOrder>
</Flow>
