mdapipkg/unpackaged/flows/Opportunity_Add_Starter_Package_Products.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Package_Lines</name>
        <label>Create Package Lines</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <actionName>CreateStarterPackageLines</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>first_Oppty_after_lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunity</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>starterPackage</name>
            <value>
                <elementReference>Get_Starter_Package</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateStarterPackageLines</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Brand_Interest_is_blank</name>
        <label>Brand Interest is blank</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand_Interest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Brand_Interest</targetReference>
            </connector>
            <label>Yes Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstAfterLead</name>
        <label>First oppty after lead</label>
        <locationX>380</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Oppty_after_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Updated_Opportunity</targetReference>
            </connector>
            <label>First oppty after lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Starters_Package_Found</name>
        <label>Starters Package Found?</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Starters_package_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Starter_Package</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_package</targetReference>
            </connector>
            <label>Yes, Starters package Found</label>
        </rules>
    </decisions>
    <description>Flow that adds Opportunity Products based on the Starter package that is active</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Add Package Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Add Starter Package Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>used when oppty becomes order , to link all order lines correctly to the order</description>
        <name>Create_Opportunity_package</name>
        <label>Create Opportunity package</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignRecordIdToReference>OpportunityPackageId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Package_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Package__c</field>
            <value>
                <elementReference>Get_Starter_Package.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Package__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>380</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Price_Book__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Starter_Package</name>
        <label>Get Starter Package</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Starters_Package_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Starter__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Updated_Opportunity.Brand_Interest__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opportunity</name>
        <label>Get Updated Opportunity</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Starter_checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Brand_Interest</name>
        <label>Add Brand Interest</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand_Interest__c</field>
            <value>
                <elementReference>$Record.Account.Brand_Interest__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Price_Book</name>
        <label>Add Price Book</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>FirstAfterLead</targetReference>
        </connector>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_Starter_checkbox</name>
        <label>Add Starter checkbox</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_Starter_Package</targetReference>
        </connector>
        <inputAssignments>
            <field>Starter_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>first_Oppty_after_lead</name>
        <label>first Oppty after lead</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <inputAssignments>
            <field>First_Oppty_after_lead__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Brand_Interest_is_blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Oppty_after_lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>ListOpportunityProductstocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityPackageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityProductValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
