mdapipkg/unpackaged/flows/Opportunity_Send_New_Customer_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_New_Customer_IAK_Email</name>
        <label>Send New Customer IAK Email</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.New_Customer_IAK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Customer_IAK</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sent_New_Customer_CPC_Email</name>
        <label>Sent New Customer CPC Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Opportunity.New_Customer_CPC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Customer_CPC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Brand_Interested</name>
        <label>Brand Interested</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cent Pur Cent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_New_Customer_CPC_Email</targetReference>
            </connector>
            <label>CPC</label>
        </rules>
        <rules>
            <name>IAK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>i.am.klean</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_New_Customer_IAK_Email</targetReference>
            </connector>
            <label>IAK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Starter_Opportuntiy</name>
        <label>Starter Opportunity</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Starter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Starter_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brand_Interested</targetReference>
            </connector>
            <label>Yes Starter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity_Send New Customer Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Send New Customer Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Starter_Opportuntiy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
