mdapipkg/unpackaged/flows/Opportunity_Add_Yearly_Package_Products.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_Package_to_Create_List</name>
        <label>Add Opportunity Package to Create List</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OpportunityPackageList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityPackageValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Packages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Package_Values</name>
        <label>Assign Opportunity Package Values</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OpportunityPackageValues.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityPackageValues.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Packages.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityPackageValues.Yearly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunity_Package_to_Create_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_packages_found</name>
        <label>Active packages found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Update_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Packages_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Yearly_Packages</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Packages</targetReference>
            </connector>
            <label>Yes Packages found</label>
        </rules>
    </decisions>
    <description>Flow that adds Opportunity Products based on the yearly packages that are active</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Opportunity - Add Yearly Package Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Add Yearly Package Products</label>
    <loops>
        <name>Loop_Through_Packages</name>
        <label>Loop Through Packages</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Active_Yearly_Packages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Package_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Packages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Packages</name>
        <label>Create Opportunity Packages</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Uncheck_Update_Checkbox</targetReference>
        </connector>
        <inputReference>OpportunityPackageList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Yearly_Packages</name>
        <label>Get Active Yearly Packages</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_packages_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Brand_Interest__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Package__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Uncheck_Update_Checkbox</name>
        <label>Uncheck Update Checkbox</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Product_update_Yearly__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Yearly_Packages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_update_Yearly__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>ListOpportunityProductstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityPackageList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Package__c</objectType>
    </variables>
    <variables>
        <name>OpportunityPackageValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Package__c</objectType>
    </variables>
    <variables>
        <name>OpportunityProductValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
