mdapipkg/unpackaged/flows/Screen_Flow_Create_New_forecast.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Forecast_to_Create_Collection</name>
        <label>Assign Forecast to Create Collection</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ForecastsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualForecastToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Forecast_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Forecast_Values</name>
        <label>Assign Forecast Values</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>IndividualForecastToCreate.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Forecast_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualForecastToCreate.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualForecastToCreate.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualForecastToCreate.Expected_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonthlyForecastAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualForecastToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Forecast_to_Create_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NumberOfForecasts</name>
        <label>Assign Number of forecasts</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMonthsLeft</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Months</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Forecasts_of_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignForecastAccountID</name>
        <label>AssignForecastAccountID</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ForecastAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Forecast_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignForecastAccountID2</name>
        <label>AssignForecastAccountID</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ForecastAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Forecast_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Forecast_Values</name>
        <label>Update Forecast Values</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMonthsLeft</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Forecast_To_Create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Forecast_Found</name>
        <label>Existing Forecast Found?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Forecast_To_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Forecasts_of_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Forecast_Overview</targetReference>
            </connector>
            <label>Yes, Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forecast_To_Create</name>
        <label>Forecast To Create</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Create_Forecast_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfMonthsLeft</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Forecast_Values</targetReference>
            </connector>
            <label>Yes, create</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Opportunity_or_Account</name>
        <label>From Opportunity or Account?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignForecastAccountID2</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <description>flow to create the correct forecasts</description>
    <environments>Default</environments>
    <formulas>
        <name>ForecastEndDate</name>
        <dataType>Date</dataType>
        <expression>IF( 
     MONTH ({!ForecastStartDate}) =12,
     DATE(YEAR ({!ForecastStartDate}) +1,1,1)-1, 
     DATE(YEAR ({!ForecastStartDate}) ,MONTH ({!ForecastStartDate} ) + 1,1) -1
)</expression>
    </formulas>
    <formulas>
        <name>ForecastName</name>
        <dataType>String</dataType>
        <expression>&quot;Forecast &quot;&amp;{!Get_Forecast_Account.Name}&amp;&quot; &quot;&amp;TEXT({!ForecastStartDate})</expression>
    </formulas>
    <formulas>
        <name>ForecastStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!StartDate},({!NumberOfMonthsLeft}-1))</expression>
    </formulas>
    <formulas>
        <name>MonthlyForecastAmount</name>
        <dataType>Number</dataType>
        <expression>{!Total_Forecast_Amount}/{!Number_of_Months}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Screen Flow - Create New forecast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create New forecast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Forecast_Records</name>
        <label>Create Forecast Records</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>ForecastConfirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Forecast_Creation_Error</targetReference>
        </faultConnector>
        <inputReference>ForecastsToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existingforecasts</name>
        <label>Delete Existing forecasts</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Forecast_To_Create</targetReference>
        </connector>
        <inputReference>Get_Existing_Forecasts_of_Account</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Forecasts_of_Account</name>
        <label>Get Existing Forecasts of Account</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Forecast_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Forecast_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ForecastEndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue_Forecast__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forecast_Account</name>
        <label>Get Forecast Account</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Forecast_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ForecastAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Account</name>
        <label>Get Opportunity Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignForecastAccountID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Existing_Forecast_Overview</name>
        <label>Existing Forecast Overview</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Existingforecasts</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;There are already forecasts created or the period you have indicated. By proceeding, you will replace these forecast by new ones. (The current ones will be deleted).&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Click on &apos;Previous&apos; to update the period if you do not wish to replace the existing ones.&lt;/li&gt;&lt;li&gt;Click on &apos;Next&apos; if you want to replace this by  new records.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingForecasts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Revenue_Forecast__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Forecasts for this account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Existing_Forecasts_of_Account</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-8d2e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-da91&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Expected_Revenue__c&quot;,&quot;guid&quot;:&quot;column-6f63&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Expected Revenue&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Forecast_Creation_Error</name>
        <label>Forecast Creation Error</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Something went wrong, please try again. &lt;/p&gt;&lt;p&gt;If this error persists, contact your Admin&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Forecast_Data</name>
        <label>Forecast Data</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_NumberOfForecasts</targetReference>
        </connector>
        <fields>
            <name>ForecastDataIntro</name>
            <fieldText>&lt;p&gt;Please Indicate below what the amount (for the complete period) and the period of the forecast is:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please choose the first day of the month&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please choose the first day of the month&lt;/p&gt;</errorMessage>
                <formulaExpression>DAY( {!StartDate} ) = 1</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>12.0</numberValue>
            </defaultValue>
            <fieldText>Number of Months</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please choose a number between 1 and 12&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Number_of_Months}&gt;0,
{!Number_of_Months}&lt;13)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Total_Forecast_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Amount</elementReference>
            </defaultValue>
            <fieldText>Total Forecast Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;For the whole period&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ForecastConfirmation</name>
        <label>ForecastConfirmation</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Thank you, the forecast is logged.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;To adapt it, please go to the account and open the &apos;Revenue Forecast&apos; related list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>From_Opportunity_or_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ForecastAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ForecastsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue_Forecast__c</objectType>
    </variables>
    <variables>
        <name>IndividualForecastToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue_Forecast__c</objectType>
    </variables>
    <variables>
        <name>NumberOfMonthsLeft</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
