mdapipkg/unpackaged/flows/Screen_Flow_to_Add_Yearly_Opportunities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Account_Updates_to_List</name>
        <label>Add Account Updates to List</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>AccountUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunities_to_List</name>
        <label>Add Opportunities to List</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Account_Updates_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_values</name>
        <label>Assign Account values</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Selected_Accounts.Yearly_Opportunity_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opportunities_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Values</name>
        <label>Assign Opportunity Values</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>OpportunityValues.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValues.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValues.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValues.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportuniytName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValues.Product_update_Yearly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValues.Yearly_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValues.Brand_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Accounts.Brand_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityValues.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Accounts.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Accounts</name>
        <label>Set Accounts</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Active_customers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Count_of_Records</name>
        <label>Set Count of Records</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>accountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Active_customers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Customers_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_Accounts</name>
        <label>Set Selected Accounts</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllActiveCustomerWithoutOppty.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>centPurCent</name>
        <choiceText>Cent Pur Cent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cent Pur Cent</stringValue>
        </value>
    </choices>
    <choices>
        <name>iAmKlean</name>
        <choiceText>i.am.Klean</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>i.am.Klean</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Active_Customers_found</name>
        <label>Active Customers found?</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Active_customers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Accounts_to_create_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selection_or_All</name>
        <label>Check Selection or All</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectAll.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Accounts</targetReference>
            </connector>
            <label>All Accounts</label>
        </rules>
        <rules>
            <name>Selected_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectAll.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_Accounts</targetReference>
            </connector>
            <label>Selected Accounts</label>
        </rules>
    </decisions>
    <description>flow that adds yearly opportunities to all active customers</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <name>OpportuniytName</name>
        <dataType>String</dataType>
        <expression>{!Loop_Through_Selected_Accounts.Name}&amp;&quot; Yearly Opportunity &quot;&amp;{!Year}</expression>
    </formulas>
    <interviewLabel>Screen Flow to Add Yearly Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow to Add Yearly Opportunities</label>
    <loops>
        <name>Loop_Through_Selected_Accounts</name>
        <label>Loop Through Selected Accounts</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <collectionReference>AccountCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunities</name>
        <label>Create Opportunities</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
        <inputReference>OpportunityList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Active_customers</name>
        <label>Get All Active customers</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Count_of_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Customer_Record_type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Yearly_Opportunity_Added__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>Odoo_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brand_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Customer_Record_type</name>
        <label>Get Record Customer Record type</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Active_customers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Add hte year of the created year opportuntiy</description>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <inputReference>AccountUpdateList</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ChoiceOfYear</name>
        <label>ChoiceOfYear</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Record_Customer_Record_type</targetReference>
        </connector>
        <fields>
            <name>Year</name>
            <dataType>String</dataType>
            <fieldText>For which year do you want to add the Yearly opportunities?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please fill in the year with 4 numbers (eg. 2023)&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Year})=4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Brand</name>
            <choiceReferences>centPurCent</choiceReferences>
            <choiceReferences>iAmKlean</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Brand</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DoubleCheck</name>
        <label>DoubleCheck</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selection_or_All</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 11, 11);&quot;&gt;By clicking on &apos;Confirm&apos; you will be creating the Year-opportunties for all selected accounts for the year {!Year}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>nocustomersfound</name>
            <fieldText>&lt;p&gt;There are no Active customers that do not have a Yearly Opportunity for {!Year}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Accounts_to_create_Opportunity</name>
        <label>Select Accounts to create Opportunity</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DoubleCheck</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;These are all the active customers that have not had a Yearly Opportunity created for &quot;{!Year}&quot;. Please select the ones you want to create the Yearly Opportunity for.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectAll</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add all accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AllActiveCustomerWithoutOppty</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Active_customers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-58ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Customer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Labels__c&quot;,&quot;guid&quot;:&quot;column-6be8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Labels&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-2ee3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectAll.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>countWarning</name>
            <fieldText>&lt;p&gt;This will create Opportunities for al {!accountCount} records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>selectAll.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChoiceOfYear</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AccountUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>OpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
